<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="TEST" class="net.chandol.datasource.testhelper.TestAppender"/>

    <logger name="net.chandol" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TEST" />
    </logger>

</configuration>